html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  color: #172B4D;
  background: #F4F5F7;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}
